body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
	padding: 1rem;
	background-color: #eee;
    text-align: center;
    
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 1fr,1fr;
    gap:20px;
    margin-top: 20px;
}


article,aside{
    padding: 1rem;;
}

h2 {
	color: navy;
	text-align: center;
    grid-column: span 2;
    margin-bottom: 10px;
}

article p {
	text-align: justify;
    grid-column: 2/3;
}

.callout {
	color: #161515;
	background-color: #d6d6d6;
}

.callout h3,p{
    margin:25px;
}

.callout p {
    margin-top:-20px;
}


aside ul{
    list-style-type: none;
    padding-left: 0;
}


footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: right;
}
