@media only screen and (min-width:768px){

    /*header changes*/

    header{
       display: flex;
       justify-content: center;
       padding: 1rem 2rem; 
       align-items: center;
        
    
        
    }
    
    header img{
        
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        
    }

    header span{
        flex-grow: 0; 
        flex-shrink: 0; 
        text-align: center; 
       

    }


    /*NAV*/
    nav {
        background-color: #4c061d;
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center; /* Centra los elementos horizontalmente */
        padding: 0;
    }

    nav a {
        display: inline-block; /* Cambiar de bloque a en línea */
        padding: .5rem 1rem; /* Ajustar el padding para mantener el ancho deseado */
        margin: 0 10px; /* Espaciado entre elementos del menú */
    }

    nav a:hover {
        background-color: rgba(255, 225, 225, 0.2);
    }

    nav .active {
        background-color: rgba(0, 0, 0, 0.3);
    }


    /*main*/
    .sections{
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        margin: 2rem 10vw;
    }

    .card{
        box-shadow: 1px 1px 10px black;
        
    }


    


}